.SignupPage
  %header.Signup-header
    -# = render "layouts/header"

  %main.Signup-main
    %section.Signup-main__information
      %h2.Signup-main__information__title
        会員情報入力
      .Signup-main__information__form
        .FormField
          .FormField__content
            %label ニックネーム
            %span.FormField__content__require 必須
            %br
            %input{"type": "text", "placeholder": "例) フリマ太郎"}
          .FormField__content
            %label メールアドレス
            %span.FormField__content__require 必須
            %br
            %input{"type": "text", "placeholder": "PC・携帯どちらでも可"}
          .FormField__content
            %label パスワード
            %span.FormField__content__require 必須
            %br
            %input{"type": "text", "placeholder": "7文字以上の半角英数字"}
          .FormField__content
            %lavel パスワード(確認)
            %span.FormField__content__require 必須
            %br
            %input{"type": "text", "placeholder": "7文字以上の半角英数字"}

            .FormField__content
              %lavel 名前(全角)
              %span.FormField__content__require 必須
              %br
              %input{"type": "text", "size": "10", "placeholder": "例) 山田"}
              %input{"type": "text", "size": "10", "placeholder": "例) 太郎"}
            .FormField__content
              %lavel 名前(ふりがな)
              %span.FormField__content__require 必須
              %br
              %input{"type": "text", "size": "10", "placeholder": "例) ヤマダ"}
              %input{"type": "text", "size": "10", "placeholder": "例) タロウ"}
            .FormField__content
              %lavel 生年月日
              %span.FormField__content__require 必須
              %br
              %input{"type": "text"}
              .Birthday__select__wrap
              .Clearfix
            .FormField__content
              %p.FormField__content__text--center
            %input.Next-btn{"type": "submit", "value": "次へ", url: "deliver_address_path"}