.LoginPages
  %header.Login-header
    -# = render "layouts/header"
  %main.Login-main
    %section.Login-main__information
      %h2.Login-main__information__title
        ログイン
      .Login-main__information__form
        %form
          .Address
            %input.Login__input{"placeholder": "メールアドレス", "type": "text"}
          .Password
            %input.Login__input{"placeholder": "パスワード", "type": "text"}
          .Button
            %input.Login-btn{"type": "submit", "value": "ログイン"}