.LoginPage
  %header.Login-header
    -# = render "layouts/header"
  %main.Login-main
    %section.Login-main__information
      %h2.Login-main__information__title
        ログイン
      .Login-main__information__form
        .FormField
          %form
            .FormField__adress
              %input.input{"placeholder": "メールアドレス", "type": "text"}
            .FormField__password
              %input.input{"placeholder": "パスワード", "type": "text"}
            %input.Login-btn{"type": "submit", "value": "ログイン"}
