.breadCrumb-nav {
  width: 100%;
  height: 3rem;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  position: relative;
  padding: 1rem 60px;
  background-color: white;
  a {
    color: black;
    text-decoration: none;
  }
  span {
    color: black;
    background-color: white;
    text-decoration: none;
    padding-left: 1rem;
    font-weight: bold;
  }
}