@import "variables";
.wrapper{
  height: 100vh;
  display: flex;
  &__Left{
    width: 35vw;
    margin-left: 80px;
    background-color: #f8f8f8;
    .Title{
      height: 40vh;
      padding-top: 100px;
      &__mypage{
        text-align: center;
      }
    }
    .Item{
      .ItemText{
        text-align: center;
        padding-bottom: 10px;
      }
      .ItemLeft{
        list-style: none;
        display: block;
        border: 2px solid $color_item1;
        box-shadow: 0 0 0 2px #eee;
        padding: 16px;
        &__profile{
          text-decoration: none;
          color: $color_item5;
        }
        &__credit{
          text-decoration: none;
          color: $color_item5;
        }
        &__logout{
          text-decoration: none;
          color: $color_item5;
        }
      }
    }
  }
  &__Right{
    width: 65vw;
    margin-right: 80px;
    background-color: #f8f8f8;
    .Icon{
      padding-top: 100px;
      text-align: center;
      &__img{
        border-radius: 50%;
      }
    }
    .nickname{
      padding: 20px;
      text-align: center;
    }
    .Item{
      .ItemRight{
        list-style: none;
        display: block;
        border: 2px solid $color_item1;
        box-shadow: 0 0 0 2px #eee;
        padding: 16px;
        margin-top: 50px;
        margin-bottom: 70px;
        &__sell{
          text-decoration: none;
          color: $color_item5;
        }
        &__buyhistory{
          text-decoration: none;
          color: $color_item5;
        }
      }
    }
  }
}