@import "variables";

.main{
  background-color: $color_item2;
  &__show{
    padding: 40px;
    margin: 0 auto;
    .contents{
      width: 700px;
      margin: auto;
        .itemBox{
          background-color: $color_item1;
          padding: 24px 40px 40px 40px;
          &__name{
            text-align: center;
            font-weight: bold;
            font-size: 24px;
          }
          &__body{
            margin-top: 16px;
            &__img{
              width: 560px;
              height: 346px;
              margin: 0 auto;
            }
            .imges{
              display: flex;
              justify-content: center;
              margin-top: 10px;
              &__picture{
                width: 135px;
                height: 87px;
                margin-right: 10px;
              }
            }
          }
          &__price{
            margin: 24px 0;
            text-align: center;
          }
          &__price>span{
            font-size: 40px;
            font-weight: bold;
          }
          .itemDetail{
            font-size: 18px;
            line-height: 1.5;
            margin-bottom: 30px;
          }
          .table{
            margin-bottom: 20px;
            &__list{
              width: 100%;
              height: 350px;
              .info{
                width: 20%;
                background-color: #eee;
                padding: 8px;
                border: 1px solid $color_item4;
                font-size: 14px;
                text-align: center;
              }
              .import{
                width: 60%;
                padding: 15px;
                border: 1px solid $color_item4;
                font-size: 14px;
              }
            }
          }
          .anyArea{
            display: flex;
            justify-content: space-between;
            .any{
              margin-top: 10px;
              .anyBtn{
                padding: 6px 10px;
                border-radius: 40px;
                border: 1px solid #ffb340;
                color: $color_item3;
              }
              .anyBtn-risk{
                font-size: 14px;
                .riskLink{
                  display: inline-block;
                  padding: 6px 10px;
                  border-radius: 4px;
                  border: 1px solid $color_item5;
                  color: $color_item5;
                  text-decoration: none;
                }
              }
            }
          }
        }
        .commentBox{
          padding: 24px;
          margin: 10px 0;
          background-color: $color_item1;
          text-align: center;
          &__comment{
            width: 100%;
            min-height: 104px;
            padding: 10px;
          }
          &__noticeMsg{
            padding: 8px;
            font-size: 14px;
            background-color: $color_item2;
            margin-top: 10px;
            margin-bottom: 28px;
            text-align: left;
          }
          &__btn{
            line-height: 48px;
            color: $color_item1;
            background-color: $color_item3;
            border: 1px solid $color_item3;
            border-radius: 100px;
            width: 60%;
            font-size: 18px;
          }
        }
      }
      .links{
        height: 24px;
        font-weight: bold;
        .linksPage{
          display: flex;
          justify-content: space-between;
        }
        &__next{
          color: $color_item3;
          text-decoration: none;
        }
      }
      .relatedItem{
        &__watch{
          display: block;
          margin: 24px 0 8px 0;
          color: $color_item3;
          font-weight: bold;
          font-size: 22px;
          text-decoration: none;
        }
        .productLists{
          display: flex;
          .productList{
            margin-bottom: 10px;
            width: calc(100% / 3);
            &__link{
              display: block;
              margin: 24px 0 8px 0;
              text-decoration: none;
              &__img{
                width: 220px;
                height: 150px;
                margin: 0;
                .imges{
                  width: 100%;
                  height: 150px;
                }
              }
            }
            &__body{
              background-color: $color_item1;
              color: $color_item5;
              padding: 16px;
              width: 220px;
              h3{
                line-height: 1.5;
                font-size: 16px;
              }
              .datails{
                font-size: 16px;
              }
              .datails ul{
                display: flex;
                align-items: center;
                justify-content: space-between;
              }
              .datails p{
                font-size: 10px;
              }
            }
          }
        }
      }
    }
  }