@import "variables";

.Card {
  height: 200px;
  margin: 30px 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__body {
    background-color: $color_item2;
    padding: 30px;
    width: 300px;
    
    p {
      text-align: center;
      border-bottom-style: ridge;
    }

    &__details {
      margin-top: 20px;
    }

    &__button {
      margin-top: 20px;
    }
  }
  
}

.button {
  text-decoration: none;
  color: white;
  background-color: red;
  padding: 7px;
  border-radius: 5px;
  text-align: center;
}

.Link {
  text-decoration: none;
  color: white;
  background-color: $color_item3;
  padding: 7px;
  border-radius: 5px;
  text-align: center;
}