$color-item1: white;
$color-item2: whitesmoke;
$color-item3: turquoise;

.SignupPage {
  box-sizing: border-box;
  background-color: $color-item2;
  .Signup-header {
    background-color: $color-item1;
  }
  .Signup-main {
    background-color: $color-item2;
    height: 100vh;
    width: 100vw;

    &__information {
      background-color: $color-item1;
      width: 600px;
      margin: 50px auto;
      padding-bottom: 50px;
      &__title {
        height: 30px;
        font-size: 20px;
        text-align: center;
        border-bottom: 1px $color-item2 solid;
        padding: 15px;
        font-weight: bolder;
      }
      &__form {
        height: 100%;
        padding-left: 160px;

        .FormField {
          width: 300px;
          height: 100%;

          &__content {
            padding: 5px;
            font-weight: lighter;
          }
        }
        .Next-btn {
          width: 280px;
          height: 40px;
          background-color: $color-item3;
          color: $color-item1;
        }
      }
    }
  }
}
